.button {
  transition: all 250ms ease 0s;
}

.primary-button {
  width: auto;
  height: 25px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: 600;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 6px;

  &.yellow {
    color: #171923;
    background: #fbde38;
    &:hover {
      background-color: #ecc94b;
    }
    &:active {
      background-color: #d8a83b;
    }
  }
}

.secondary-button {
  width: auto;
  padding: 13px 27px;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-weight: 600;

  &.white {
    color: #171923;
    background: #fff;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 4px;

  &.white {
    color: #171923;
    background: #fff;
  }
}
