.button {
    transition: all 250ms ease 0s;
}

.primary-button {
    width: auto;
    height: 25px;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;

    &.yellow {
        color: #171923;
        background: #fbde38;
    }
}

.secondary-button {
    width: auto;
    height: 25px;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;

    &.white {
        color: #171923;
        background: #fff;
    }
}