.button {
  font-family: inherit;
  transition: all 250ms ease 0s;
  text-align: center;
  display: flex;
  background: transparent;
  border: 0;
  outline: none;
  &.fluid {
    width: 100%;
    display: block;
  }
}

.primary-button {
  width: auto;
  padding: 18px 30px;
  text-decoration: none;
  font-weight: 600;
  align-items: center;
  border-radius: 6px;

  &.yellow {
    color: #171923;
    background: #fbde38;
    &:hover {
      background-color: #ecc94b;
    }
    &:active {
      background-color: #d8a83b;
    }
  }
}

.secondary-button {
  width: auto;
  padding: 13px 27px;
  text-decoration: none;
  align-items: center;
  border-radius: 6px;
  font-weight: 600;

  &.white {
    color: #171923;
    background: #fff;
  }

  &.blue-border {
    color: #171923;
    background: transparent;
    border: solid 1px #00afe6;
    font-size: 16px;
    padding: 18px 0px;
    font-weight: 700;
    color: #00afe6;

    &:hover {
      background: whitesmoke;
    }
  }
}

.icon-button {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.5rem;

  &.white {
    color: #171923;
    background: #fff;
  }
}
