.bank-transfer-flow {
  .login-with-bilira {
    background: #04144c;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0.75rem 0;
    display: block;
    margin-top: 1rem;
    border-radius: 4px;
  }
}
