.bank-transfer-flow {
  .login-with-bilira {
    background: #04144c;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0.75rem 0;
    display: block;
    margin-top: 1rem;
    border-radius: 4px;
  }
}

.alert {
  background: #f1f1f1;
  border: 1px solid #e7e7e7;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  display: flex;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }

  &.danger {
    background: #e63946;
    color: #fff;
  }

  &.warning {
    background: #e6b839;
  }

  &.success {
    background: #7ee639;
  }

  .alert-icon {
    padding-top: 0.25rem;
    margin-right: 1rem;
  }

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
