header {
  height: 100px;
  padding: 22px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    margin-bottom: 80px;
  }

  .logo {
    max-height: 56px;
    display: block;
    margin: 0px;
  }
}
