header {
  height: 60px;
  padding: 22px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: auto;
    max-height: 100%;
    display: block;
    margin: 0px;
  }
}
