.stair-bg {
  background: #edf2f6;
  position: absolute;
  width: 80%;
  right: 0;
  height: 100%;
  top: 0;
  display: block;
  z-index: -2;
  content: ' ';
}

.stair-front-bg {
  background: #f8fcff;
  position: absolute;
  width: 80%;
  left: 0;
  height: 70%;
  bottom: 0;
  display: block;
  z-index: -1;
  content: ' ';
}

.shaped-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 239px;
  width: 286px;
  background: #edf2f7;
  z-index: -1;
  pointer-events: none;
  clip-path: polygon(
    0% 0%,
    0% 25%,
    25% 25%,
    25% 50%,
    50% 50%,
    50% 75%,
    75% 75%,
    75% 100%,
    100% 100%,
    100% 0%
  );
}
