.shaped-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-height: 239px;
  max-width: 286px;
  background: #edf2f7;
  z-index: -1;
  pointer-events: none;
  clip-path: polygon(
    0% 0%,
    0% 15%,
    25% 15%,
    25% 50%,
    50% 50%,
    50% 75%,
    75% 75%,
    75% 100%,
    100% 100%,
    100% 0%
  );

  @media (min-width: 768px) {
    max-height: 50%;
    max-width: 70%;
  }
}
