.transaction-history {
  max-width: 1200px;

  a.person {
    color: #4361ee;

    &:hover {
      text-decoration: underline;
    }
  }

  .amount {
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
  }

  .person {
    font-weight: 600;

    &.with-icon {
      position: relative;
    }
  }

  .icon {
    display: none;
    @media (min-width: 768px) {
      position: absolute;
      right: 20%;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #7ee639;
      border-radius: 100%;
      width: 28px;
      height: 28px;
    }

    svg {
      color: #fff;
      width: 22px;
      height: 22px;
    }
  }

  .table-wrapper {
    position: relative;

    @media (min-width: 768px) {
      overflow: auto;
    }

    .table {
      width: 100%;
      // padding: 3px;

      .title {
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0.5rem;
        font-weight: 600;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .tbody {
        .tr {
          align-items: center;
          flex-wrap: wrap;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
          margin-bottom: 1rem;
          padding: 1rem;

          @media (min-width: 768px) {
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            height: 55px;
            margin-bottom: 0;
            padding: 0;
          }

          &:last-child {
            border-bottom: 0;
          }

          .td {
            margin-bottom: 0.5rem;

            &:last-child {
              margin-bottom: 0;
            }

            @media (min-width: 768px) {
              margin-bottom: 0;
              padding-left: 0.5rem;
            }

            .td-header {
              text-transform: uppercase;
              font-weight: 600;
              margin-bottom: 0.5rem;
              border: 1px solid rgba(0, 0, 0, 0.12);
              background: #f1f1f1;
              padding: 0.25rem;
            }

            .td-content {
              padding-left: 0.25rem;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      font-size: 0.85rem;
      padding-top: 1rem;

      button {
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin-right: 0.5rem;
        padding: 0.25rem;
        cursor: pointer;

        &:not(:disabled):hover {
          background: rgba(0, 0, 0, 0.06);
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }

      span > strong {
        margin: 0 0.25rem;
      }

      div {
        display: flex;
      }
    }
  }
}
