footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;

  .illustration {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: url('/assets/images/illustration@3x.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
}
