footer {
  .illustration {
    width: 100%;
    height: 46px;
    display: block;
    background: url('/assets/images/illustration@3x.png') no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      height: 104px;
    }
  }
}
