footer {
  .illustration {
    margin-top: 2rem;
    width: 100%;
    height: 100px;
    display: block;
    background: url('/assets/images/illustration.svg') no-repeat;
    background-size: cover;
    background-position: center top;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
