.widget-donators {
  background: #fff;
  overflow: auto;
  max-width: 520px;
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.05);
  margin: 2rem 0;
  width: 100%;

  &.with-loader {
    background: transparent;
    box-shadow: none;
    align-items: center;
  }

  @media (min-width: 768px) {
    padding: 20px 40px;
    margin: 2rem 3rem;
  }

  nav {
    width: 100%;
    display: flex;
    .tab-buttons {
      font-size: 18px;
      font-weight: 700;
      color: rgba(23, 25, 35, 0.5);
      margin-right: 30px;
      position: relative;
      cursor: pointer;
      padding-bottom: 15px;
      border-bottom: 2px solid transparent;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: rgba(23, 25, 35, 1);
      }

      &.active {
        color: rgba(23, 25, 35, 1);
        border-bottom: 2px solid #fbde38;
      }
    }
  }

  .list {
    list-style: none;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .button {
    margin-top: 20px;
  }
}
