.empty-sponsor {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
  background: #eee;
  color: #909090;
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
