@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import '../public/assets/stylesheets/buttons.scss';

body {
  font-family: 'Quicksand', sans-serif;
  background: #f8fcff;
  margin: 0;
  font-size: 16px;
}
