@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.stair-bg {
  background: #EDF2F6;
  position: absolute;
  width: 80%;
  right: 0;
  height: 100%;
  top: 0;
  display: block;
  z-index: -1;
  content: ' ';
}