.App {
}

.div-center {
  position: relative;
  margin: 0 auto;
  top: 50vh;
  transform: translateY(-50%);
  max-width: 450px;
  min-width: 300px;
  padding: 1rem;
  max-width: 100%;
  text-align: center;
}
